arviz>=1.0.0
bambi>=0.16.0
kulprit ==0.5.0
preliz @ git+https://github.com/arviz-devs/preliz.git
pymc @ git+https://github.com/pymc-devs/pymc.git@v6
pymc-bart ==0.11.0
pymc-extras>=0.5.0
scipy>=1.16.2
